Source: dovetail-automata-keyring
Section: misc
Priority: important
Maintainer: John Morris <packages@dovetail-automata.com>
Homepage: https://github.com/zultron/dovetail-automata-keyring-deb
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Vcs-Browser: https://github.com/zultron/dovetail-automata-keyring-deb
Vcs-Git: https://github.com/zultron/dovetail-automata-keyring-deb.git

Package: dovetail-automata-keyring
Architecture: all
Depends: gnupg (>= 1.0.6-4), ${misc:Depends}
Description: Dovetail Automata LLC package repository GnuPG keyring
 This package contains the package signing keys for the Dovetail
 Automata LLC Debian package archive.
