#!/usr/bin/make -f

KEYSERVER=keys.gnupg.net
KEYID=73571BB9

%:
	dh $@

binary-indep: binary-indep-stamp
binary-indep-stamp:
	dh_testdir
	install -d -m 700 keyrings
	GNUPGHOME=keyrings gpg  --keyring dovetail-automata-keyring.gpg \
		--no-default-keyring --keyserver $(KEYSERVER) \
		--recv-keys $(KEYID)
	touch binary-indep-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf keyrings
	dh_clean *-stamp

override_dh_install:
	dh_install keyrings/dovetail-automata-keyring.gpg usr/share/keyrings/

override_dh_builddeb:
	dh_builddeb -- -Zbzip2

binary: binary-indep
