#!/usr/bin/make -f

KEYSERVER=keys.gnupg.net
KEYID=73571BB9
GPG_CMD = GNUPGHOME=keyrings gpg  --keyring dovetail-automata-keyring.gpg \
	--no-default-keyring
KEYFILE = dovetail-automata.gpg.ascii

%:
	dh $@

binary-indep: binary-indep-stamp
binary-indep-stamp:
	dh_testdir
	install -d -m 700 keyrings
	$(GPG_CMD) \
		--import debian/$(KEYFILE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -rf keyrings
	dh_clean *-stamp

override_dh_install:
	dh_install keyrings/dovetail-automata-keyring.gpg usr/share/keyrings/

override_dh_builddeb:
	dh_builddeb -- -Zbzip2

binary: binary-indep


# Maintenance commands
download_key:
	$(GPG_CMD) \
	    --keyserver $(KEYSERVER) \
	    --recv-keys $(KEYID)
	$(GPG_CMD) \
	    --export --armor --output $(KEYFILE)
