Package: zultron-keyring
Version: 0.1-0
Architecture: all
Bugs: mailto:repos@zultron.com
Maintainer: John Morris <repos@zultron.com>
Installed-Size: 33
Depends: gnupg (>= 1.0.6-4)
Section: misc
Priority: important
Homepage: http://www.zultron.com
Description: Zultron package repository GnuPG keyring
 This package contains the package signing keys for the Zultron
 package repositories.
